################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zlib
/build
/lua5.1
/.vs
/CMakeSettings.json
